In [1]:
#Importing needed libraries
import pandas as pd 
import numpy as np
pd.set_option('display.max_columns', None)
csv_filename='excess_mortality.csv'

# Question 1

In [2]:
def question_one(csv_filename):
    total_dataframe=pd.read_csv(csv_filename) 
    trunc_dataframe=total_dataframe[['location','deaths_2020_all_ages','deaths_2019_all_ages']] 
    list_of_countries=list(trunc_dataframe['location'].unique())
    mean_2020=[]
    mean_2019=[]
    for country in list_of_countries:
        mean_2020.append(trunc_dataframe[trunc_dataframe['location']==country]['deaths_2020_all_ages'].mean())
        mean_2019.append(trunc_dataframe[trunc_dataframe['location']==country]['deaths_2019_all_ages'].mean())
    dataframe=pd.DataFrame([list_of_countries,mean_2020,mean_2019],columns=range(0,37)).transpose()
    dataframe.columns=['location','average_deaths_2020_all_ages','average_deaths_2019_all_ages']
    dataframe['difference_deaths_2020_2019']=dataframe['average_deaths_2020_all_ages'].subtract(dataframe['average_deaths_2019_all_ages'])
    return dataframe

In [3]:
question_one(csv_filename)

,location,average_deaths_2020_all_ages,average_deaths_2019_all_ages,difference_deaths_2020_2019
0,Austria,1726.57,1567.02,159.547
1,Belgium,2429.62,2085.31,344.315
2,Bulgaria,2378.77,2073.42,305.351
3,Canada,5721.79,5443.56,278.228
4,Chile,2402.55,2097.67,304.874
5,Croatia,1025.48,992.519,32.9599
6,Czechia,2439.67,2154.62,285.051
7,Denmark,1046.7,1034.71,11.9866
8,England & Wales,11586.9,10139.1,1447.77
9,Estonia,305.302,294.846,10.4557
10,Finland,1052.63,1035,17.6346
11,France,12509.6,11498.4,1011.24
12,Germany,18695.3,18014.8,680.442
13,Greece,2478.45,2394.96,83.4874
14,Hungary,2654.44,2485.88,168.558
15,Iceland,43.6792,43.4808,0.198476
16,Israel,930.585,880.654,49.9311
17,Italy,13501.9,12364.7,1137.19
18,Latvia,542.189,531.385,10.8041
19,Lithuania,826.868,734.308,92.5602
20,Luxembourg,86.4898,82.4615,4.02826
21,Netherlands,3229.72,2914.29,315.429
22,New Zealand,625.509,655.538,-30.029
23,Northern Ireland,335.941,300.135,35.8066
24,Norway,774.679,778.038,-3.35922
25,Poland,9132.47,7838.92,1293.55
26,Portugal,2366.04,2143.73,222.307
27,Scotland,1222.94,1109.44,113.501
28,Slovakia,1070.75,1021.44,49.3077
29,Slovenia,449.373,395.135,54.2379
30,South Korea,5793.12,5655.38,137.738
31,Spain,9452.64,7979.12,1473.53
32,Sweden,1828.15,1652.62,175.536
33,Switzerland,1394.46,1298.25,96.21
34,Taiwan,3313.51,3367.62,-54.1026
35,United Kingdom,NaN,NaN,NaN
36,United States,62768.9,54722.8,8046.01

# Question 2

In [4]:
def question_two(csv_filename):
    total_dataframe=pd.read_csv(csv_filename)
    dataframe=total_dataframe[['location','deaths_2020_all_ages','deaths_2019_all_ages']] 
    dataframe['difference_deaths_2020_2019']=dataframe['deaths_2020_all_ages'].subtract(dataframe['deaths_2019_all_ages']) 
    dataframe['week']=total_dataframe['Week'] #Adding weeks column to the truncated dataframe
    #creating a list of all countries in the dataframe (37 countries in total)
    list_of_countries=list(dataframe['location'].unique())
    #Using a for loop to iterate through the list of countries while grabbing the top-5 weeks
    for country in list_of_countries:
        print(f'In {country}, the top-5 weeks are:',end=' ')
        print(list(dataframe[dataframe['location']==country][['week','difference_deaths_2020_2019']].sort_values(by='difference_deaths_2020_2019',ascending=False)['week'].head(5)))

In [5]:
question_two(csv_filename)

In Austria, the top-5 weeks are: [49, 47, 48, 50, 46]
In Belgium, the top-5 weeks are: [15, 14, 45, 16, 46]
In Bulgaria, the top-5 weeks are: [48, 49, 47, 50, 46]
In Canada, the top-5 weeks are: [17, 18, 16, 15, 19]
In Chile, the top-5 weeks are: [23, 24, 25, 22, 26]
In Croatia, the top-5 weeks are: [47, 48, 46, 45, 44]
In Czechia, the top-5 weeks are: [44, 45, 46, 43, 47]
In Denmark, the top-5 weeks are: [51, 52, 15, 12, 13]
In England & Wales, the top-5 weeks are: [16, 17, 15, 18, 14]
In Estonia, the top-5 weeks are: [52, 14, 31, 39, 48]
In Finland, the top-5 weeks are: [47, 17, 37, 26, 15]
In France, the top-5 weeks are: [14, 15, 13, 16, 45]
In Germany, the top-5 weeks are: [52, 51, 50, 33, 49]
In Greece, the top-5 weeks are: [47, 48, 49, 46, 31]
In Hungary, the top-5 weeks are: [48, 47, 46, 49, 50]
In Iceland, the top-5 weeks are: [36, 1, 4, 21, 2]
In Israel, the top-5 weeks are: [41, 38, 43, 42, 40]
In Italy, the top-5 weeks are: [13, 12, 14, 15, 11]
In Latvia, the top-5 weeks are: [51, 27, 50, 34, 46]
In Lithuania, the top-5 weeks are: [51, 52, 49, 50, 47]
In Luxembourg, the top-5 weeks are: [48, 15, 47, 49, 45]
In Netherlands, the top-5 weeks are: [14, 15, 13, 16, 17]
In New Zealand, the top-5 weeks are: [43, 5, 51, 49, 7]
In Northern Ireland, the top-5 weeks are: [17, 14, 15, 43, 16]
In Norway, the top-5 weeks are: [2, 15, 37, 40, 34]
In Poland, the top-5 weeks are: [45, 46, 47, 44, 48]
In Portugal, the top-5 weeks are: [29, 50, 49, 51, 30]
In Scotland, the top-5 weeks are: [16, 15, 17, 14, 18]
In Slovakia, the top-5 weeks are: [45, 46, 48, 47, 44]
In Slovenia, the top-5 weeks are: [48, 47, 49, 44, 46]
In South Korea, the top-5 weeks are: [6, 34, 5, 18, 7]
In Spain, the top-5 weeks are: [14, 13, 15, 16, 12]
In Sweden, the top-5 weeks are: [15, 16, 14, 18, 52]
In Switzerland, the top-5 weeks are: [49, 45, 47, 46, 48]
In Taiwan, the top-5 weeks are: [6, 7, 16, 4, 3]
In United Kingdom, the top-5 weeks are: [1, 2, 3, 4, 5]
In United States, the top-5 weeks are: [15, 16, 17, 50, 14]

# Question 3

In [6]:
def question_three(csv_filename):
    total_dataframe=pd.read_csv(csv_filename) 
    trunc_dataframe=total_dataframe[['location','deaths_2020_all_ages','deaths_2019_all_ages']] 
    list_of_countries=list(trunc_dataframe['location'].unique())
    mean_2020=[]
    mean_2019=[]
    for country in list_of_countries:
        mean_2020.append(trunc_dataframe[trunc_dataframe['location']==country]['deaths_2020_all_ages'].sum())
        mean_2019.append(trunc_dataframe[trunc_dataframe['location']==country]['deaths_2019_all_ages'].sum())
    dataframe=pd.DataFrame([list_of_countries,mean_2020,mean_2019],columns=range(0,37)).transpose()
    dataframe.columns=['location','sum_deaths_2020_all_ages','sum_deaths_2019_all_ages']
    dataframe['difference_deaths_2020_2019']=dataframe['sum_deaths_2020_all_ages'].subtract(dataframe['sum_deaths_2019_all_ages'])
    return list(dataframe[dataframe['difference_deaths_2020_2019']>=0]['location'])

In [7]:
#Out of 37 countries, 28 shows a positive excess Canada, Croatia, Greece, Italy, Luxemborg,  New Zealand, Slovakia, South Korea, Taiwan are the exceptions
question_three(csv_filename)

['Austria',
 'Belgium',
 'Bulgaria',
 'Chile',
 'Czechia',
 'Denmark',
 'England & Wales',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Hungary',
 'Iceland',
 'Israel',
 'Latvia',
 'Lithuania',
 'Netherlands',
 'Northern Ireland',
 'Norway',
 'Poland',
 'Portugal',
 'Scotland',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'United Kingdom',
 'United States']

# Question 4

In [8]:
def question_four(csv_filename):
    total_dataframe=pd.read_csv(csv_filename)
    tmp_dataframe=total_dataframe.drop(['date','p_scores_all_ages','p_scores_15_64','p_scores_65_74','p_scores_75_84','p_scores_85plus','average_deaths_2015_2019_all_ages'],axis=1)
    tmp_dataframe.columns=['location', 'year_2020', 'year_2015','year_2016', 'year_2017', 'year_2018','year_2019', 'year_2010', 'year_2011','year_2012', 'year_2013', 'year_2014','Week', 'year_2021']
    list_of_countries=list(total_dataframe['location'].unique())
    for country in list_of_countries:
        index=tmp_dataframe[tmp_dataframe['location']==country].drop(['location','Week','year_2021'],1).sum().idxmin()
        print(f'{country} had its lowest mortality in {index}')

In [9]:
question_four(csv_filename)

Austria had its lowest mortality in year_2011
Belgium had its lowest mortality in year_2011
Bulgaria had its lowest mortality in year_2013
Canada had its lowest mortality in year_2010
Chile had its lowest mortality in year_2015
Croatia had its lowest mortality in year_2020
Czechia had its lowest mortality in year_2014
Denmark had its lowest mortality in year_2014
England & Wales had its lowest mortality in year_2011
Estonia had its lowest mortality in year_2015
Finland had its lowest mortality in year_2011
France had its lowest mortality in year_2011
Germany had its lowest mortality in year_2015
Greece had its lowest mortality in year_2015
Hungary had its lowest mortality in year_2014
Iceland had its lowest mortality in year_2012
Israel had its lowest mortality in year_2010
Italy had its lowest mortality in year_2010
Latvia had its lowest mortality in year_2019
Lithuania had its lowest mortality in year_2019
Luxembourg had its lowest mortality in year_2010
Netherlands had its lowest mortality in year_2011
New Zealand had its lowest mortality in year_2010
Northern Ireland had its lowest mortality in year_2010
Norway had its lowest mortality in year_2014
Poland had its lowest mortality in year_2011
Portugal had its lowest mortality in year_2011
Scotland had its lowest mortality in year_2011
Slovakia had its lowest mortality in year_2014
Slovenia had its lowest mortality in year_2010
South Korea had its lowest mortality in year_2010
Spain had its lowest mortality in year_2010
Sweden had its lowest mortality in year_2019
Switzerland had its lowest mortality in year_2011
Taiwan had its lowest mortality in year_2020
United Kingdom had its lowest mortality in year_2020
United States had its lowest mortality in year_2010

# Question 5

In [10]:
def question_five(csv_filename):
    total_dataframe=pd.read_csv(csv_filename)
    tmp_dataframe=total_dataframe.drop(['date','p_scores_all_ages','p_scores_15_64','p_scores_65_74','p_scores_75_84','p_scores_85plus','average_deaths_2015_2019_all_ages'],axis=1)
    tmp_dataframe.columns=['location', 'year_2020', 'year_2015','year_2016', 'year_2017', 'year_2018','year_2019', 'year_2010', 'year_2011','year_2012', 'year_2013', 'year_2014','Week', 'year_2021']
    tmp_dataframe['total_mortality_across_all_years']=tmp_dataframe.drop(['location','Week'],1).sum(1)
    for i in range(tmp_dataframe['Week'].nunique()):
        index=tmp_dataframe[tmp_dataframe['Week']==i+1]['total_mortality_across_all_years'].idxmax()
        print(f'Overall in week {i+1}, {tmp_dataframe.iloc[index][0]} had the highest mortality with a total of {tmp_dataframe.iloc[index][len(tmp_dataframe.columns)-1]}')

In [11]:
question_five(csv_filename)

Overall in week 1, United States had the highest mortality with a total of 474556.0
Overall in week 2, United States had the highest mortality with a total of 480599.0
Overall in week 3, United States had the highest mortality with a total of 469016.0
Overall in week 4, United States had the highest mortality with a total of 462645.0
Overall in week 5, United States had the highest mortality with a total of 458807.0
Overall in week 6, United States had the highest mortality with a total of 458612.0
Overall in week 7, United States had the highest mortality with a total of 455371.0
Overall in week 8, United States had the highest mortality with a total of 449557.0
Overall in week 9, United States had the highest mortality with a total of 447486.0
Overall in week 10, United States had the highest mortality with a total of 449485.0
Overall in week 11, United States had the highest mortality with a total of 443007.0
Overall in week 12, United States had the highest mortality with a total of 440390.0
Overall in week 13, United States had the highest mortality with a total of 439759.0
Overall in week 14, United States had the highest mortality with a total of 448076.0
Overall in week 15, United States had the highest mortality with a total of 452264.0
Overall in week 16, United States had the highest mortality with a total of 442265.0
Overall in week 17, United States had the highest mortality with a total of 435057.0
Overall in week 18, United States had the highest mortality with a total of 430456.0
Overall in week 19, United States had the highest mortality with a total of 424199.0
Overall in week 20, United States had the highest mortality with a total of 416131.0
Overall in week 21, United States had the highest mortality with a total of 413208.0
Overall in week 22, United States had the highest mortality with a total of 408096.0
Overall in week 23, United States had the highest mortality with a total of 409734.0
Overall in week 24, United States had the highest mortality with a total of 406008.0
Overall in week 25, United States had the highest mortality with a total of 405070.0
Overall in week 26, United States had the highest mortality with a total of 404731.0
Overall in week 27, United States had the highest mortality with a total of 407175.0
Overall in week 28, United States had the highest mortality with a total of 406804.0
Overall in week 29, United States had the highest mortality with a total of 406435.0
Overall in week 30, United States had the highest mortality with a total of 406624.0
Overall in week 31, United States had the highest mortality with a total of 406488.0
Overall in week 32, United States had the highest mortality with a total of 407061.0
Overall in week 33, United States had the highest mortality with a total of 405604.0
Overall in week 34, United States had the highest mortality with a total of 403861.0
Overall in week 35, United States had the highest mortality with a total of 404311.0
Overall in week 36, United States had the highest mortality with a total of 404557.0
Overall in week 37, United States had the highest mortality with a total of 405222.0
Overall in week 38, United States had the highest mortality with a total of 407097.0
Overall in week 39, United States had the highest mortality with a total of 408696.0
Overall in week 40, United States had the highest mortality with a total of 413441.0
Overall in week 41, United States had the highest mortality with a total of 414717.0
Overall in week 42, United States had the highest mortality with a total of 416443.0
Overall in week 43, United States had the highest mortality with a total of 418804.0
Overall in week 44, United States had the highest mortality with a total of 422492.0
Overall in week 45, United States had the highest mortality with a total of 429677.0
Overall in week 46, United States had the highest mortality with a total of 434299.0
Overall in week 47, United States had the highest mortality with a total of 439036.0
Overall in week 48, United States had the highest mortality with a total of 441390.0
Overall in week 49, United States had the highest mortality with a total of 452742.0
Overall in week 50, United States had the highest mortality with a total of 458401.0
Overall in week 51, United States had the highest mortality with a total of 390039.0
Overall in week 52, United States had the highest mortality with a total of 393609.0
Overall in week 53, France had the highest mortality with a total of 14065.0